h1{
	text-align: center;
	color: #352f5b;
	font-size: 70px;
	margin: 90px;
}
h2{
	font-size: 35px;
}
.question{
	padding: 6px;
}
.question-text{
	font-size: 20px;
	font-weight: bold;
}
.question-answers{
	font-size: 20px;
	font-weight: bold;
}
.quiz{
	background: #352f5b;
}
